/*#region App*/
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/*#endregion App*/
/*#region Cards*/
.cards__container {
  display: flex;
  flex-flow: column;
  align-items: center;
  max-width: auto;
  width: 90%;
  margin: 0 auto;
}

.cards__wrapper {
  position: relative;
  margin: 10px 0 30px;
}

.cards__items {
  margin-bottom: 20px;
  padding: 0%;
  border-radius: 20px;
  height: auto;
  /* background-color: rgb(29, 29, 29); */
  /* border: 4px solid goldenrod; */
}

.cards__item {
  display: flex;
  flex: 1;
  margin: 0.25rem 1rem;
  border-radius: 10px;
  background-color: rgba(82, 20, 136, 0.5);
  outline: 5px solid black;
}

.cards__home {
  margin-bottom: 40px;
  padding: 3%;
  border-radius: 20px;
  background-color: rgb(29, 29, 29);
  border: 4px solid goldenrod;
}

.cards__item__link {
  display: flex;
  flex-flow: column;
  width: 60vw;
  box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
  -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  border-radius: 10px;
  overflow: hidden;
  text-decoration: none;
}

.cards__item__pic-wrap {
  position: relative;
  width: auto;
  padding-top: 33%;
  overflow: hidden;
}

.cards__item__pic-wrap::after {
  content: attr(data-category);
  position: absolute;
  bottom: 0;
  margin-left: 10px;
  padding: 6px 8px;
  max-width: calc((100%) - 60px);
  font-size: 12px;
  font-weight: 700;
  color: #e7e7e7;
  box-sizing: border-box;
}

.cards__item__img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: auto;
  max-width: auto;
  height: 50%;
  max-height: 50%;
  object-fit: cover;
  transition: all 0.2s linear;
}

.cards__item__img:hover {
  transform: scale(1.005);
}

.cards__item__info {
  padding: 20px 30px 30px;
}

.cards__item__text {
  position: absolute;
  top: 0%;
  left: 7.5%;
  color: rgba(82, 20, 136, 1);
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  padding: 8px; 
}

/*#region Larger Screens*/
@media only screen and (min-width: 1024px) {
  .cards__items {
    margin-bottom: 2rem;
    display: flex;
  }

  .cards__home {
    margin-bottom: 2rem;
  }

  .cards__item__link {
    display: flex;
    flex-flow: column;
    width: 40vw;
    box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
    -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    border-radius: 10px;
    overflow: hidden;
    text-decoration: none;
  }
}
/*#endregion Larger Screens*/

/*#endregion Cards*/
/*#region Navbar*/
.navbar {
  background: linear-gradient(90deg, rgb(44, 43, 43) 0%, rgb(215, 165, 0) 100%);
  outline: 3px solid black;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar-container {
  display: flex;
  justify-content: center;
  align-items: right;
  height: 80px;
  max-width: 1600px;
}

.navbar-logo {
  color: white;
  justify-self: start;
  margin-left: 10px;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  display: flex;
  align-items: center;
}

.nav-item {
  height: 40px;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 60vw;
  justify-content: end;
  margin-right: 2rem;
}

.nav-links {
  color: #e7e7e7;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
}

.nav-links:hover {
  border-bottom: 4px solid rgb(215, 165, 0);
  transition: all 0.2s ease-out;
}
/*#endregion Navbar*/
/*#region Side Nav*/
.side-nav {
  position: fixed;
  top: 100px;
  left: 20px;
  height: 80vh;
  width: 15vw;
  outline: 4px solid black;
  background-color: goldenrod;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 10px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  border-radius: 4%;
}

.side-nav-top {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.side-nav-bottom {
  margin-top: auto;
  background-color: white;
  padding: 5%;
  border-radius: 4%;
}

.side-nav-link {
  color: black;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  padding: 10px;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.side-nav-link:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

/*#region Larger Screens*/

/*#endregion Larger Screens*/

/*#endregion Side Nav*/
/*#region Pages*/
.home {
  background-color: rgb(223, 223, 223);
}
.home_title {
  font-size: 65px;
  color: white;
}
.home_caption {
  color: white;
  padding: 1%;
}
.home_button {
  border-radius: 0%;
  width: 10vw;
  height: 40px;
  background-color: #6FB751;
  color: white;
  outline: 2px solid black;
}
.home_button:hover {
  border-radius: 10%;
  background-color: #81CD63;
  transition: 500ms;
}
/*#region Larger Screens*/
@media only screen and (min-width: 1024px) {

}

/*#endregion Larger Screens*/

/*#endregion Pages*/